{% extends 'base.html' %}

{% block content %}

    <h1 class="h3 mb-4 text-gray-800 col">팀 소개</h1>

    <div style="display: flex; justify-content: center; align-items: center;">
        <div class="shadow-lg" style="width: 1000px; padding: 0px 20px; text-align: center;">
            <div class="row">

            <div class="col-6">
                {% with title="오상엽" description="안녕하세요" position="2037010" img="/img/sangyup.jpg"%}
                    {% include 'main/card.html' %}
                {% endwith %}
            </div>

            <div class="col-6">
                {% with title="유경미" description="자기 소개" position="팀원" img="/img/kyeongmi.jpg"%}
                    {% include 'main/card.html' %}
                {% endwith %}
            </div>

            </div>
            <div class="row">

                <div class="col-6 ">
                    {% with title="이지민" description="자기 소개" position="팀원" img="/img/jimin.jpg"%}
                        {% include 'main/card.html' %}
                    {% endwith %}
                </div>

                <div class="col-6">
                    {% with title="차훈영" description="자기 소개" position="팀원" img="/img/hunyoung.png" %}
                        {% include 'main/card.html' %}
                    {% endwith %}
                </div>

            </div>
        </div>
    </div>
    
    
    
{% endblock %}