{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h1>게시글 작성</h1>
    <form method="post" action="{% url 'board:create' %}">
        {% csrf_token %}
        제목 : <input type="text" name="title" class="form-control"><br>
        내용 : <textarea name="content" class="form-control"></textarea><br>
        <div style="display: flex; gap: 10px">
            <div style="flex:1">
            비밀번호 : <input type="password" name="passwd" class="form-control"><br>
            </div>
            <div style="flex:1">
            작성자 : <input type="text" name="writer" class="form-control" value="anonymous"><br>
            </div>
        </div>
        <input type="submit" value="입력" class="btn btn-primary">
    </form>
</div>

{% endblock %}