{% extends 'base.html' %}


{% block content %}
    <div class="form-floating mb-3">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextareaDisabled" disabled></textarea>
      <label for="floatingTextareaDisabled">{{ title }}</label>
    </div>


    <div class="form-floating mb-3">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled" style="height: 100px" disabled> {{ body }}</textarea>
      <label for="floatingTextarea2Disabled"></label>
    </div>


    <form method="post" action="./">
        {% csrf_token %}
        <div style="margin-top: 10px; display: flex; align-items: center; gap: 10px; justify-content: flex-end">

                <div class="form-floating" style="width: 15%;">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" style="height: 3rem;">
                    <label for="floatingPassword">비밀번호</label>
                </div>

                <button type="submit" class="btn btn-danger" name="action" value="delete" style="text-decoration: none; height: calc(3rem + 2px); display: flex; align-items: center; ">
                    삭제
                </button>

                <button type="submit" class="btn btn-success" name="action" value="update" style="text-decoration: none; height: calc(3rem + 2px); display: flex; align-items: center; ">
                    수정
                </button>

        </div>
    </form>
    
    {% if messages %}
        {% for message in messages %}
            <script>alert('{{ message }}')</script>
        {% endfor %}
    {% endif %}
    
{% endblock %}